<a href="https://colab.research.google.com/github/YasasRavindu/PythonColab/blob/main/HelloPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4
if spam_amount > 0:
     print("But I don't want ANY spam!")
     print("BI m line 2")

viking_song = "Spam " * spam_amount
print(viking_song)

spam_amount = 0
mil=0.1;
type(mil)

# type(19.95)

print(5 / 2)
print(6 / 2)
print(5 // 2)
print(6 // 2)

0
But I don't want ANY spam!
BI m line 2
Spam Spam Spam Spam
2.5
3.0
2
3

In [ ]:
a =10
b=10

print(a ** b)

10000000000

In [ ]:
def calFunc(num1,num2):
      print(num1)
      print(num2)
      return num1+num2;


print (calFunc(10,20))

10
20
30

Functions

In [ ]:
# help(round(-2.01))
print("My","Name","   hello marli",  flush=True)

My Name    hello marli

In [ ]:

#  docstrings : to explain about the function, whe you use help method

def least_difference(a , b , c):
  """Return the smallest difference between any two numbers
  among a, b and c.
  >>> least_difference(1, 5, -5)
  4
  """
  diff1 = abs(a-b)
  diff2 = abs(b-c)
  diff3 = abs(a-c)
  return min(diff1,diff2,diff3)

print(
  least_difference(1,10,100),
  least_difference(1,10,10),
  least_difference(5,6,7)
)


help(least_difference)

# None means null in other langs
print(hel_str)
print(hel_str == None)


# Use of default arguments

print(1,2,3,sep = " # ")

# without default argument
print(1,2,3)

# without default argument for non separate by space
print(1,2,3,sep='')


def greet(who="Carl"):
  print("Hellow ",who)

greet("Marli")
#  default value scenario
greet()
greet("Raveen")



# higher order functions -  functions who accept other functions as arguments or return them as results
def mod_5(x):
    return x % 5


print(
    "Maximum value of Number range = ",
    max(100, 14, 51),
    "the number with largest modulo ",
    max([100, 14, 51], key=mod_5),
    sep="\n",
)

#

def mult_by_five(x):
    return 5 * x

def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)


print(
    call(mult_by_five, 1),sep="\n"
)

9 0 1
Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c.
    >>> least_difference(1, 5, -5)
    4

NameError: name 'hel_str' is not defined

Boolean Conditions

In [ ]:
def sign(num):
   if num < 0:
     return -1
   elif num > 0:
     return 1
   else:
     return 0

print(sign(10))
print(sign(-10))
print(sign(0))

1
-1
0

In [ ]:
Lists

In [ ]:
#  List Theories
hands = [
    ["J", "Q", "K"],
    ["2", "2", "2"],
    ["6", "A", "K"],  # (Comma after the last element is optional)
]
# hands = [["J", "Q", "K"], ["2", "2", "2"], ["6", "A", "K"],] # (Comma after the last element is optional)

my_favorite = [1, " My Love", hands, 3.14, True,abs]
print(my_favorite)

print(my_favorite[0])
print(my_favorite[1])
print(my_favorite[2])
print(my_favorite[3])
print(my_favorite[4])
print(my_favorite[5])

# Printing furthest planets
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

# print(planets[len(planets) -1])
print(planets[-1])
print(planets[-2])
print(planets[-3])
print(planets[-4])
print(planets[-5])
print(planets[-6])
print(planets[-7])
print(planets[-8])

# Slicing
# to get last items in list, you can use - indexes

# first_three_planet = planets[-3:-1]
# first_three_planet = planets[:10]
first_three_planet = planets[:3]
print(first_three_planet)


slicing_example = planets[1:]
print(slicing_example)
# answer is ['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Changing the values of list
planets[:3]=["M","V","E"]
print(planets)

planets[:3]=["Mercury","Venus","Earth"]
print(planets)

# List Functions

print("Length of Planets = ", len(planets))
print("Sorted  Planets = ", sorted(planets))

#  List Aggregate operations

primes = [2, 3, 5, 7]
print("Sum of Ints = ", sum(primes))
print("Maximum of Ints = ", max(primes))

# Interlude Objects

x = 12;
print(x.imag)

c = 12 + 3j
print(c.imag)

#  below is showing like API if you are using this function without parenthesis
num_bit= x.bit_length
print(num_bit)
# with parenthesis

print(x.bit_length())

# help(x.bit_length)

planets.append("Pluto")

help(planets.append)
print(planets)

# pop method will remove and return last item

print(planets.pop())
print(planets)

print(planets.index("Earth"))

# Current list of planets
print(planets)
if 'Earth' in planets:
    print("Yes")
else:
    print("No")

# to see all the list object's methods and attribute
# help(planets)

# Tuple

mytuple=(1,"string", True)
mytuple=(1,"string", True)

print(mytuple)

x=0.125
print(x.as_integer_ratio())

numerator,denominator =x.as_integer_ratio()
print("numerator",numerator,"\ndenominator",denominator)

[1, ' My Love', [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']], 3.14, True, <built-in function abs>]
1
 My Love
[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
3.14
True
<built-in function abs>
Neptune
Uranus
Saturn
Jupiter
Mars
Earth
Venus
Mercury
['Mercury', 'Venus', 'Earth']
['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['M', 'V', 'E', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
Length of Planets =  8
Sorted  Planets =  ['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']
Sum of Ints =  17
Maximum of Ints =  7
0
3.0
<built-in method bit_length of int object at 0xa40ce8>
4
Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
Pluto
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
2
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
Yes
(1, 'string', True)
(1, 8)
numerator 1
denominator 8

List can contains any type of data type including functions as well

*   Slicing : to get last items in list, you can use - indexes
*   Lists are mutable

List Exercise

In [ ]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']


def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    index = arrivals.index(name)
    return index >= len(arrivals)/2 and index !=len(arrivals)-1

fashionably_late(party_attendees, 'May')

False

In [32]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print( planet, end=' ')



multiplicands = (2,2,2,3,3,5)
product = 1
for mult in multiplicands:
    product = product * mult
print("Product = \n",product)

#  Different logics trying out

s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
for char in s:
    if char.isupper():
        print(char, end="")
print("\n ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ")

# try range()
for i in range(10):
    print("\n counter = ",i)

print("\n ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ")
# While loop
x = 0
while x < 10:
  print(x,end=" ")
  x+=1
print("\n ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ")

#  List Comprehensions
squares = [a**2 for a in range(10)]
print(squares)
print("\n ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ")
arrayString = [b.upper() for b in planets]
print(arrayString)

short_planets = [planet for planet in planets if len(planet) < 6]
print(short_planets)

['Venus', 'Earth', 'Mars']

print("\n ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ")
[32 for planet in planets]

nums=[5, -1, -2, 0, 3]
count = len([ num for num in nums if num <0])
print("Count of Negative numbers ",count)
print("Sum of Negative numbers ", sum([ num for num in nums if num <0]))





help(any)

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune Product =
 360
HELLO
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

 counter =  0

 counter =  1

 counter =  2

 counter =  3

 counter =  4

 counter =  5

 counter =  6

 counter =  7

 counter =  8

 counter =  9

 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
0 1 2 3 4 5 6 7 8 9
 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
['MERCURY', 'VENUS', 'EARTH', 'MARS', 'JUPITER', 'SATURN', 'URANUS', 'NEPTUNE']
['Venus', 'Earth', 'Mars']

 ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Count of Negative numbers  2
Sum of Negative numbers  -3
Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

**Strings**

In [37]:

hello = "hello\nworld"
print(hello)

triplequoted_hello = """hello
                                       Milton
world"""
print(triplequoted_hello)
triplequoted_hello == hello

planet = 'Pluto'
planet[0]


print(planet[-4:])

print(len(planet))
plan = 'Pluto'
[char+'! ' for char in plan]


claim = "Pluto is a planet!"
claim.upper()

print(claim.split())
print(claim.split("!"))
print(claim.split("a"))
print(claim.split(" a "))


datestr = '1956-01-31'
year, month, day = datestr.split('-')
'/'.join([month, day, year])

position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"{} you'll always be the {}th planet to me. So love you {}".format(planet, position, 3000)


pluto_mass= 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format (planet, pluto_mass, pluto_mass / earth_mass, population)

hello
world
hello
                                       Milton
world
luto
5
['Pluto', 'is', 'a', 'planet!']
['Pluto is a planet', '']
['Pluto is ', ' pl', 'net!']
['Pluto is', 'planet!']

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

**Dictionaries (Maps)**

In [49]:
# Define a Dictionary
numbers={'one':1,'two':2,'three':3}
numbers['ten'] = 45
print(numbers)


planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_map = {planet : planet[0]   for planet in planets}
print(planet_map)


print("Venus" in planet_map)
print("Earth" in planet_map)

for  key  in  planet_map:
  print( "{} begins with {}".format(planet_map[key],key))

print("\n")

for planet, initial in planet_map.items():
  print("{} begins with \"{}\"".format(planet,initial))

{'one': 1, 'two': 2, 'three': 3, 'ten': 45}
{'Mercury': 'M', 'Venus': 'V', 'Earth': 'E', 'Mars': 'M', 'Jupiter': 'J', 'Saturn': 'S', 'Uranus': 'U', 'Neptune': 'N'}
True
True
M begins with Mercury
V begins with Venus
E begins with Earth
M begins with Mars
J begins with Jupiter
S begins with Saturn
U begins with Uranus
N begins with Neptune


Mercury begins with "M"
Venus begins with "V"
Earth begins with "E"
Mars begins with "M"
Jupiter begins with "J"
Saturn begins with "S"
Uranus begins with "U"
Neptune begins with "N"